livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
langchain-community
requests
python-dotenv
duckduckgo-search
fuzzywuzzy
pyautogui
pynput
python-Levenshtein
pywin32
livekit
chromadb
psutil
pyperclip
fpdf
pywhatkit
yt-dlp
pypdf
python-docx
pandas
openpyxl
browser-use
playwright
pylint
schedule
opencv-contrib-python
customtkinter
pyttsx3
Pillow